---
const { image, description } = Astro.props;
---

<div class="min-w-max">
  <img
    class=" object-contain max-w-full px-8 md:px-0"
    width="400px"
    src={image}
    alt={description}
  />
</div>
