---
const { image, description } = Astro.props;
---

<div class="min-w-max">
  <img
    width="350"
    height="220"
    class="object-contain md:px-0 animated fade-right"
    src={image}
    alt={description}
  />
</div>
