---
const { firstProject } = Astro.props;
---

<div
  class={`flex flex-col-reverse md:flex-row items-center justify-center w-full gap-10 lg:gap-20 px-10 mb-10 md:mb-24 ${
    firstProject && "md:mt-28"
  }`}
>
  <slot />
</div>
