---
const { dark } = Astro.props;
---

<h4
  class={`w-full text-center ${
    dark && "text-white"
  } md:text-end md:pr-14 font-bold text-3xl mb-10 md:mt-16 top-0 md:absolute`}
>
  <span class={dark ? "text-emerald-400" : ""}>&lt;</span>
  <slot />
  <span class={dark ? "text-emerald-400" : ""}>/&gt;</span>
</h4>
