---
import SectionContainer from "../containers/SectionContainer.astro";
import SectionTitle from "../containers/SectionTitle.astro";
import Stack from "./Stack.astro";
import avatar1 from "/avatar1.png";
import avatar2 from "/avatar2.png";
---

<SectionContainer sectionId="about" fitToScreen>
  <SectionTitle>About</SectionTitle>
  <div
    class="flex items-center flex-col md:pb-80 md:pt-36 md:my-0 md:flex-row px-10 gap-10 md:gap-20 lg:gap-36"
  >
    <div class="flex items-center flex-col-reverse md:flex-col gap-10">
      <div
        class="h-56 w-44 min-w-[11rem] mx-auto md:min-h-full relative flex items-end"
      >
        <img
          class="w-44 h-44 bg-emerald-400 rounded-full absolute left-0 right-0 top-0 bottom-0 m-auto"
          src={avatar2}
        />
        <img
          class="w-44 h-44 bg-emerald-400 rounded-full absolute left-0 right-0 top-0 bottom-0 m-auto hover:hidden"
          src={avatar1}
        />
        <hr
          class="w-20 h-1 mx-auto bg-gray-100 border-0 rounded dark:bg-neutral-400"
        />
      </div>
      <div class="md:min-h-full md:grid place-items-center">
        <div class="max-w-lg">
          <p>
            My name is <span class="text-primary">Miguel Angel Guerra</span>. I
            am an electronic engineer dedicated to software development
            specifically to web development.
          </p>
          <p class="my-4">
            I am <span class="text-primary">22 years old</span> and I live in <span
              class="text-primary">Barranquilla, Colombia</span
            >.
          </p>
          <p>
            <span class="text-primary">I love what I do</span> and really enjoy helping
            solve problems through my work.
          </p>
        </div>
      </div>
    </div>
    <div class="md:px-0 max-w-md">
      <h6 class="text-lg mb-6 font-bold">Experience</h6>
      <ol class="relative border-l border-gray-400">
        <li class="mb-10 ml-4">
          <div
            class="absolute w-3 h-3 bg-gray-400 rounded-full mt-1.5 -left-1.5 border border-gray-400"
          >
          </div>
          <time class="mb-1 text-sm font-normal leading-none text-gray-400"
            >2021 - 2023</time
          >
          <h3 class="text-lg font-semibold">Fireno SAS</h3>
          <p class="mb-4 text-gray-500 text-xs">
            En la empresa fireno SAS hice tal y tal cosa. Lorem ipsum dolor sit
            amet consectetur, adipisicing elit. Veniam, dolorum ad expedita
            maxime quos qui nobis sapiente id recusandae libero.
          </p>
        </li>
        <li class="mb-10 ml-4">
          <div
            class="absolute w-3 h-3 bg-gray-400 rounded-full mt-1.5 -left-1.5 border border-gray-400"
          >
          </div>
          <time class="mb-1 text-sm font-normal leading-none text-gray-400"
            >2023 - Now</time
          >
          <h3 class="text-lg font-semibold">Freelance</h3>
          <p class="mb-4 text-gray-500 text-xs">
            En la empresa fireno SAS hice tal y tal cosa.
          </p>
        </li>
      </ol>
    </div>
  </div>
  <Stack />
</SectionContainer>
