---
import "@fontsource/roboto-slab";
import HomeContainer from "./HomeContainer.astro";
import miguelsImage from "/me.webp"
---

<HomeContainer>
  <div
    class="bg-primary w-full md:w-1/2 md:whitespace-nowrap flex md:justify-end py-6 pl-3 md:p-0"
  >
  <div class="w-fit -mr-8 md:-mr-16 lg:-mr-32">
    <h1
      class="main-name text-neutral-900 font-black text-5xl md:text-5xl lg:text-7xl xl:text-8xl mb-6 animated fade-up"
    >
      Miguel Guerra<span class="text-white md:text-primary">.</span>
    </h1>
    <h2 class="text-white text-xl md:text-2xl lg:text-4xl animated fade-up">
      Front-end developer
    </h2>
    <p class="text-white text-md mt-2 animated fade-up">Bringing design to life, one pixel at a time</p>
  </div>
  </div>
  <div
    class="w-full md:bg-transparent md:w-1/2 min-h-full flex-1 flex items-center justify-center"
  >
    <div class="relative flex justify-center animated">
      <img height="320" width="204" class="object-contain mt-5 z-20" src={miguelsImage} alt="Miguel Guerra dressed in a sweatshirt and smiling" />
      <div class="rounded-3xl bg-neutral-900 w-64 aspect-video z-0 absolute bottom-0"></div>
    </div>
  </div>
</HomeContainer>

<style>
  .main-name {
    font-family: "Roboto Slab", serif;
  }
</style>