---
import HomeContainer from "./HomeContainer.astro";
---

<HomeContainer>
  <div
    class="bg-primary pt-5 md:mt-56 pl-10 md:pl-10 lg:pl-20 pb-10 md:pb-56 w-full md:w-1/2 md:whitespace-nowrap"
  >
    <p class="text-white text-sm">Hi, my name is</p>
    <h1
      class="text-black font-black text-4xl md:text-5xl lg:text-7xl xl:text-8xl my-3"
    >
      Miguel Guerra<span class="text-white md:text-primary">.</span>
    </h1>
    <h2 class="text-white text-xl md:text-2xl lg:text-4xl">
      Front-end developer
    </h2>
    <p class="text-white text-md mt-3">Two years experience</p>
  </div>
  <div
    class="w-full md:w-1/2 min-h-full flex-1 flex items-center justify-center"
  >
    <div class="w-36 h-64 mt-5 md:w-56 md:h-80 bg-gray-600/75"></div>
  </div>
</HomeContainer>
