---
import linkedinLogo from "/linkedin.svg";
import githubLogo from "/github.svg";
---

<div
  class="hidden fixed right-0 bottom-0 w-16 md:flex items-center justify-center flex-col"
>
  <a href="#">
    <img class="w-7 h-7 grayscale" src={githubLogo} />
  </a>
  <a href="#">
    <img class="w-7 h-7 grayscale mb-8 mt-4" src={linkedinLogo} />
  </a>
</div>
