---
import linkedinLogo from "/linkedin.svg";
import githubLogo from "/github.svg";
---

<div
  class="hidden fixed right-0 bottom-0 w-16 md:flex items-center justify-center flex-col"
>
  <a href="https://github.com/MGuerra17" target="_blank">
    <img class="w-7 h-7 grayscale" src={githubLogo} alt="Github logo" aria-label="Go to Miguel Guerra's github profile" />
  </a>
  <a href="https://www.linkedin.com/in/ing-miguel-guerra" target="_blank">
    <img class="w-7 h-7 grayscale mb-8 mt-4" src={linkedinLogo} alt="LinkedIn logo" aria-label="Go to Miguel Guerra's linkedin profile" />
  </a>
</div>
