<div class="w-full bg-neutral-900 font-bold">
  <h5 class="text-white text-5xl w-full text-center pb-5 pr-10 animated">
    <span class="text-emerald-400">&lt;</span>
    Contact
  </h5>
  <div class="w-full h-14 md:h-32 bg-zinc-100 oval">
    <h6 class="text-5xl w-full text-center pt-3 pl-10 z-10 relative animated">
      me
      <span class="text-emerald-400">/&gt;</span>
    </h6>
  </div>
</div>

<style>
  .oval {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
</style>
